<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Redefinição de senha - Admin</title>
</head>

<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>Meu Site</h1>
        </div>
        <% if (message.info) { %>
        <div class="col-md-4 ">
            <div class="alert alert-<%= message.info[0].type %> alert-dismissible fade show" role="alert">
                <strong><%= message.info[0].title %></strong> <%= message.info[0].msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <% } %>
        <div class="login-box" style="min-width: 370px;min-height: 290px;">

            <form class="login-form" action="/reset" method="POST">

                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Redefinir Senha</h3>
                <input type="text" hidden id="userId" name="userId" value="<%= id %>">
                <input type="text" hidden id="token" name="token" value="<%= token %>">
                <div class="form-group">
                    <label class="control-label">Nova Senha:</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="senha"
                        required minlength="6">
                </div>

                <div class="form-group btn-container">
                    <button type="submit" class="btn btn-primary btn-block"><i
                            class="fa fa-sign-in fa-lg fa-fw"></i>Redefinir Senha</button>
                </div>
                <div class="form-group mt-3">
                    <p class="semibold-text mb-0"><a href="/"><i class="fa fa-angle-left fa-fw"></i>Fazer Login</a></p>
                </div>
            </form>


        </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <script type="text/javascript">
        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });
    </script>
    <script>


        //cadastro de exchanges
        $("#form-login").submit(function (event) {

            event.preventDefault();
            ajaxCadastroPost();
        });

        // função que faz o cadastro da api no banco de dados
        function ajaxCadastroPost() {
            let formData = {
                user: $("#user").val(),
                password: $("#password").val()
            };


            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: window.location + "/auth",
                data: JSON.stringify(formData),
                dataType: "json",
                success: function (result) {
                    console.log(result)
                },
                error: function (e) {

                    console.log("ERROR: ", e);
                }
            });

            // Redefinir Formulario após o lançamento
            resetData();

        }
        // função que reseta os dados do formulário
        function resetData() {

            $("#user").val("");
            $("#password").val("");
        }
    </script>
</body>

</html>